Library
obj
ProjectSettings
Assembly-CSharp.csproj
Assembly-CSharp-vs.csproj
TestProject.sln
TestProject-csharp.sln
TestProject-csharp.v12.suo
UnityVS.TestProject.CSharp.csproj
UnityVS.TestProject.sln
UnityVS.TestProject.v12.suo
Assets/UnityVS
Assets/UnityVS.meta
Assets/AssetStoreTools/Labels.asset
Assets/AssetStoreTools/Labels.asset.meta
Temp
UnityVS.Project.CSharp.csproj
UnityVS.Project.sln
UnityVS.Project.v11.suo